.gridPrincipal{
	display: grid;
	grid-template-columns:33% 33% 33%;
	grid-template-rows:auto auto auto auto ;
	grid-template-areas:
	"header header header" 
	"encabezado encabezado encabezado"
	"main main main"
	"footer footer footer";}

body{
	background-image: url(../assets/img/backgroundBody.webp);
	background-size: contain;}

header{
	grid-area: header;
	background-image:url(../assets/img/backgroundHeader.jpg);
	display: flex;
	justify-content: space-between;
}

a 
	{text-decoration: none;}

.navFlex .nombrePrincipal{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.nombrePrincipal{
	font-size: 60px;
	padding-right: 2%;
	margin: 0%;
}

nav ul li {
	list-style-type: none;
	padding: 10px;
	margin: 10px;
	width: 100%;
	display: inline;
	font-size: larger ;
}

.encabezadoHome{
	grid-area: encabezado;
	text-align: center;
	font-size: 40px;
	color: bisque;
	font-family: 'Times New Roman', Times, serif;
}

.tituloHome{
	color: black;	
}

main
	{grid-area: main;}

.txtImg1, .txtImg2{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: xx-large;
	padding: 30px;
	margin: 10px;
	color: bisque;
	font-style: italic
	;
}

.ajusteTxt2{
	padding-left: 20px;
}

footer
	{grid-area: footer;
	display: flex;
	justify-content: space-around;}










