.gridPrincipal{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:auto auto auto auto ;
	grid-template-areas:
	"header header header" 
	"encabezado encabezado encabezado"
	"main main main"
	"footer footer footer";}

body{
	background-image: url(../assets/img/backgroundBody.webp);
	background-size: contain;}

header{
	grid-area: header;
	background-image:url(../assets/img/backgroundHeader.jpg);
	display: flex;
	justify-content: space-between;}

a{
	text-decoration: none;}

.navFlex .nombrePrincipal{
	display: flex;
	flex-direction: column;
	align-items: flex-end;}

.nombrePrincipal{
	font-size: 60px;
	padding-right: 2%;
	margin: 0%;}

nav ul li {
	list-style-type: none;
	padding: 10px;
	margin: 10px;
	width: 100%;
	display: inline;
	font-size: larger ;}

.encabezadoPages{
	grid-area: encabezado;
	text-align: center;
	font-size: 100%;
	color: bisque;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;}

.tituloPages{
	color: black;}

main{
	grid-area: main;}

.txtImg1Home, .txtImg2Home{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: large;
	padding: 30px;
	margin: 10px;
	color: bisque;
	font-style: italic;
	font-weight: bold;}

.imgHome{
	width: 100%;
}

footer{
	grid-area: footer;
	display: flex;
	justify-content: space-around;}

.paddingYTransLogos{
	padding: 10px;
	margin-top: 10px;
	width: 25px;
	transition: 1s;}

.paddingYTransLogos:hover{
	width: 45px;
}

.logosRRSS{
	display: flex;}

.imgTxtNos{
	display: flex;
	flex-direction: column;
	align-items: center;}

.txtNos{
	font-size: 100%;
	color: bisque;
	font-style: italic;
	font-weight: bold;
	padding-left: 10%;
	padding-right: 10%;}

.imgNos{
	display: block;
	margin: auto;
	align-items: center;
	width: 100%;}

.txtServ{
	color: bisque;
	font-style: italic;
	font-weight: bold;
	width: 65%;}

.txtVidServ{
	display: flex;
	flex-direction: column;
	align-items: center;}

.videoServicio{
	margin-top: 5%;
	margin-bottom: 5%;}

.txtProd, .ajusteTxtHome{
	width: 100%;
	margin: 20px;}


	/*VISTA MOBILE*/

@media only screen and (max-width: 768px){

.gridPrincipal{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
	"header header header"
	"encabezado encabezado encabezado"
	"main main main"
	"footer footer footer";}

header{
	flex-direction: column;
	align-items: center;}

.nombrePrincipalMobile{
	display: none;}

.navFlex{
	width: 100%;
	font-size: 100%;
	font-weight: bold;}

.txtImg1Home, .txtImg2Home{
	flex-direction: column;
	font-size: 30px;
	font-weight: bold;
	padding: 15px;
	margin: 5px;}

p{
	font-size: small;
}

.txtImg2Home{
	flex-direction: column-reverse;}

.encabezadoPages{
	font-size: 100%;
	font-weight: bold;}

img{
	width: 100%;
}

.logoFooter{
	width: 30%;
}

.logosRRSS{
	width: 30%;
	display: flex;}

.paddingYTransLogos{
	width: 25%;
	padding: 4px;
	margin-top: 25px;}

.txtServ{
	width: 100%;}

.videoServicio{
	width: auto;}
}


	/*VISTA TABLET*/

@media only screen and (min-width: 769px) and (max-width: 1023px){

.gridPrincipal{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
	"header header header"
	"encabezado encabezado encabezado"
	"main main main"
	"footer footer footer";}

header{
	flex-direction: column;
	align-items: center;}
	
.nombrePrincipalMobile{
	display: none;}

.navFlex{
	width: 100%;
	font-size: 100%;
	font-weight: bold;}

.txtImg1Home, .txtImg2Home{
	flex-direction: column;
	font-size: medium;
	font-weight: bold;
	padding: 15px;
	margin: 5px;}

p{
	font-size: small;}

.txtImg2Home{
	flex-direction: column-reverse;}

.encabezadoPages{
	font-size: 100%;
	font-weight: bold;}

img{
	display: block;
	margin: auto;
	width: 70%;}

.logoFooter{
	width: 30%;}

.logosRRSS{
	display: flex;
	align-items: center;}

.paddingYTransLogos{
	width: 50%;
	padding: 4px;
	margin-top: 25px;}

.videoServicio{
	width: auto;}
}



